section.promo-services
    .container
        .h-wrapper
            .promo-services__header
                h2 Услуги
            .promo-services__describe
                p
                    | Предоставляем комплексные решения для строительных объектов любого масштаба и сложности. От строительства домов под ключ до коммерческих объектов
        .promo-services__btn
            a.promo-services__link(href='./services.html') Смотреть больше

        .promo-services__content

            .promo-services__item
                a(href="#") 
                    img(src=require('./../../../assets/image/component-promo-services/wooden.png') alt='Деревянный дом')
                    .promo-services__item-header
                        h3 Деревянные дома
            .promo-services__item
                a(href="#") 
                    img(src=require('./../../../assets/image/component-promo-services/halfhouse.png') alt='Беседка')
                    .promo-services__item-header
                        h3 Беседки
            .promo-services__item
                a(href="#") 
                    img(src=require('./../../../assets/image/component-promo-services/a-house.png') alt='А-дом')
                    .promo-services__item-header
                        h3 А-дома
            .promo-services__item
                a(href="#") 
                    img(src=require('./../../../assets/image/component-promo-services/modal.png') alt='Модульный дом')
                    .promo-services__item-header
                        h3 Модульные дома