.promo-services {
    background-color: #E1EAF7;
    padding-bottom: 160px;

    .h-wrapper {
        display: flex;
    }
    &__header {
        margin-right: 118px;
        h2 {
            margin: 0;
            font-weight: 700;
            font-size: 22px;
            line-height: 24px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: #0E1117;
        }
    }
    &__describe {
        width: 515px;
        p {
            margin: 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #0E1117;
        }
    }
    &__btn {
        display: flex;
        justify-content: flex-end;
    }
    &__link {
        color:#0E1117;
        text-decoration: none; 
        display: inline-block;
        border-bottom: 1px solid #0E1117;
		padding: 0;
		padding-bottom: 1px;
		margin-top: 14px;
		font-size: 16px;
        line-height: 22px;
        font-weight: 500;
    }
    &__content {
        margin-top: 12px;
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 300px;
        grid-auto-rows: 300px;
        column-gap: 12px;
    }
    &__item {
        margin-top: 12px;
        overflow: hidden;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform .4s;
            transform: scale(1.0);
        }
        &:hover {
            img {
                transition: transform .4s;
                transform: scale(1.1);
            }
        }
    }
    &__item-header {
        position: absolute;
        bottom: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 50%;

        background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 36.98%, rgba(0, 0, 0, 0.26875) 73.96%, rgba(0, 0, 0, 0.06) 83.85%, rgba(217, 217, 217, 0) 100%);
        transform: rotate(-180deg);
        h3 {
            margin: 0;
            transform: rotate(180deg);
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}

//---

@media (min-width: 1400px) {
}

@media (max-width: 1399px) {
}

@media (max-width: 1199px) {
    .promo-services {
        &__content {
            grid-template-columns: repeat(2, 1fr);
        }
    }
   
}

@media (max-width: 991px) {
    .promo-services {
        padding-bottom: 136px;
        &__describe {
            width: 470px;
        }
    }
}

@media (max-width: 768px) {
    .promo-services {
        padding-bottom: 84px;
        .h-wrapper {
            flex-direction: column;
        }
        &__describe {
            width: 100%;
            margin-top: 20px;
        }
        &__link {
            margin-top: 24px;
        }
    }
}

@media (max-width: 575px) {
    .promo-services {
        &__content {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 200px;
            grid-auto-rows: 200px;
        }
        &__item-header {
            height: 35%;
        }
        &__btn {
            justify-content: flex-start;
        }
    }
}