header {
    width: 100%;
    height: 64px;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 15;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .burger {
            display: none;
            span:after {
                content: '';
                display: block;
                width: 25px;
                height: 3px;
                background-color:#0E1117;
                margin-top: 3px;
            }
        }
        .wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        &__items {
            height: 64px;
            display: flex;
            align-items: center;
            // padding: 20px 0;
        }
        &__logo {
            margin-right: 50px;
        }
        &__arrow {
            position: absolute;
            top: 15%;
            //transform: translateY(-50%);
            right: 0px;
            
           
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #000;
            transition: transform 0.3s;
        }
        .arrow-right {
            position: absolute;
            top: 50%;
            right: 15px;

            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid #000;
            transform: rotate(270deg);
            transition: transform 0.3s;
        }
        &__main-ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: #0E1117;

        }
        &__main-li {
            position: relative;
            margin-right: 32px;
            margin-top: 37px;
            height: 64px;
            display: flex;
            align-items: center;
            &:last-child {
                margin-right: 0;
            }
            &:nth-child(2) {
                padding-right: 20px;
            }
            &:hover {
                cursor: pointer;
                .header__arrow {
                    transition: transform .3s;
                    transform: rotateZ(180deg);
                }
                .header__dropdown-ul {
                    visibility: visible;
                    opacity: 1;
                    transition: opacity .3s;
                    .nest {
                        visibility: hidden;
                        opacity: 0;
                        transition: opacity .3s;
                    }
                }
            }
        }
        &__main-li-links {
            height: 100%;
            color: #0E1117;
            text-decoration: none;
            transition: text-shadow 200ms;
            &:hover {
                text-shadow: 0 0 .45px #333, 0 0 .45px #333;
            }
        }
        .nest {
            top: 0;
            left: 221px;
            z-index: 2;

            opacity: 0;
            transition: opacity .3s;
            visibility: hidden;

            &::before {
                content: '';
                width: 1px;
                height: 100%;
                background: #EFEFEF;
                position: absolute;
                top: 0;
                left: 0;
            }
            &:hover {
                &::after {
                    content: '';
                    width: 100%;
                    height: 2px;
                    background: #23324C;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 5;
                }
            }
        }
        &__dropdown-ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            width: 221px;
            background-color: #fff;
            transition: background-color .3s;

            position: absolute;
            top: 43px;
            left: 0;
            z-index: 2;
            
            opacity: 0;
            transition: opacity .3s;
            visibility: hidden;
            &:before {
                content: '';
                width: 100%;
                height: 2px;
                background: #23324C;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 5;
            }   
        }
        &__dropdown-li {
            position: relative;
            box-sizing: border-box;
            padding: 14px 0 14px 28px;
            width: 100%;
            &:hover {
                background-color: #F6f8fb;
                transition: background-color .3s;
                ul.header__dropdown-ul.nest {
                    opacity: 1;
                    transition: opacity .3s;
                    visibility: visible;
                }
                // &:before {
                //     content: none;
                // }
            }
            a {
                color: #0E1117;
                text-decoration: none;
            }
        }
        &__info {
            font-size: 14px;
            display: flex;
            align-items: center;
        }
        &__phone {
            display: flex;
            align-items: center;
            margin-right: 52px;
            a {
                color: #0E1117;
                text-decoration: none;
                transition: text-shadow 200ms;
                &:hover {
                    text-shadow: 0 0 .45px #333, 0 0 .45px #333;
                }
            }   
            img {
                margin-right: 10px;
            }
        }
        &__language {
            position: relative;
           a {
                text-decoration: none;
                color: #0E1117;
                transition: text-shadow 200ms;
                &:first-child {
                    margin-right: 18px;
                }
                &:hover {
                    text-shadow: 0 0 .45px #333, 0 0 .45px #333;
                }
                &::before {
                    content: '';
                    display: block;
                    width: 1px;
                    height: 16px;
                    background-color: #0E1117;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 50%;
                }
            }
        }
    }
}

//

@media (min-width: 1400px) {
    
}

@media (max-width: 1399px) {
}

@media (max-width: 1199px) {

    header {
        .header {
            &__logo {
                margin-right: 24px;
            }
            &__main-li {
                margin-right: 24px;
            }
            &__phone {
                margin-right: 20px;
            }
        }
    }
}

@media (max-width: 991px) {

    header {
        .header {
            .burger {
                display: block;
            }
            .wrapper {
                .header__items:nth-child(2) {
                    display: none;
                }
            }
            &__logo {
                margin-right: 0px;
            }
            &__phone{
                margin-right: 18px;
                img {
                    margin-right: 0;
                }
                a {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 768px) {

    header {
        background-color: #ffffff;
    }
}

@media (max-width: 575px) {

    header {
        background-color: #ffffff;
        .header {
            justify-content: space-around;
            &__language {
                display: none;
            }   
        }
    }
}