header
    .container
        .header
            .burger
                span
                span
                span    
            .wrapper
                .header__items
                    .header__logo
                        a(href='./index.html')
                            img(src=require('./../../../assets/image/icons/logo.svg') alt='logotype of company')

                .header__items
                    nav
                        ul.header__main-ul
                            li.header__main-li
                                a.header__main-li-links(href='./about.html') О нас

                            li.header__main-li
                                a.header__main-li-links(href='./services.html') Услуги
                                span.header__arrow

                                ul.header__dropdown-ul
                                    li.header__dropdown-li
                                        a(href='#') Дома
                                        .arrow-right

                                        ul.header__dropdown-ul.nest
                                            li.header__dropdown-li
                                                a(href='#') Деревянные дома
                                            li.header__dropdown-li
                                                a(href='#') А-дома
                                            li.header__dropdown-li
                                                a(href='#') Модульные дома
                                            li.header__dropdown-li
                                                a(href='#') Каркасно-монолитные дома
                                            li.header__dropdown-li
                                                a(href='#') Каркасные-дома

                                    li.header__dropdown-li
                                        a(href='#') Беседки
                                    li.header__dropdown-li
                                        a(href='#') Мобильные офисы
                                    li.header__dropdown-li
                                        a(href='#') Торговые центры
                                    li.header__dropdown-li
                                        a(href='#') Железно-бетонные конструкции
                            li.header__main-li
                                a.header__main-li-links(href='#') Стоимость
                            li.header__main-li
                                a.header__main-li-links(href='./gallery.html') Галерея
                            li.header__main-li
                                a.header__main-li-links(href='#') Блог
                            li.header__main-li
                                a.header__main-li-links(href='#') Контакты
            .header__items
                .header__info
                    .header__phone
                        img(src=require('./../../../assets/image/icons/phone_header.svg') alt='phone')
                        a(href='tel+380932261740') +38 098 501 14 14
                    .header__language
                        a(href='#') UA
                        a(href='#') RU