section.benefits
    .container
        .benefits__header
            h2 Преимущества
    .benefits__img-promo
    .container
        .swiper
            .swiper-wrapper
                .swiper-slide
                    .swiper__header Работаем с 1991 года
                    .swiper__description
                        | Собрали большой портфель опыта, что позволяет реализовывать самые необычные и креативные идеи в постройке современного дома
                .swiper-slide
                    .swiper__header Соответствуем стандартам
                    .swiper__description
                        | Используем инновационные методы в реализации полного цикла постройки, придерживаясь всех актуальных законодательных стандартов и норм
                .swiper-slide
                    .swiper__header Реализовываем пожелания
                    .swiper__description
                        | Осуществляем все пожелания клиента еще на стадии проектирования современного дома, консультируем и советуем лучшие идеи
                .swiper-slide
                    .swiper__header Оптимально и качественно
                    .swiper__description
                        | Используем качественные материалы, реализуем альтернативные источники электроэнергии, методы энергоэффективности, оптимально используя бюджет.
                .swiper-slide
                    .swiper__header Сертификаты и лицензии
                    .swiper__description
                        | Имеем все необходимые документы и разрешения, чтобы построить дом под ключ вашей мечты
            .swiper-prev
                .arrowP
            .swiper-next
                .arrowN