.benefits {
    background-color: #E1EAF7;
    padding-bottom: 160px;
    &__header {
        h2 {
            // width: 130px;
            font-weight: 700;
            font-size: 22px;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: #0E1117;
            text-transform: uppercase;
            margin: 0 0 62px 0;
        }
    }
    &__img-promo {

        width: 100%;
        height: 422px;
        background: url('./../../../assets/image/component-benefits/house_benefits.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    // Swiper
    .container {
        position: relative;
    }
    .swiper {
        position: static;
        margin-top: 62px;
        width: 85%;
        &__header {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
        }
        &__description {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            margin-top: 24px;
        }
        &-prev, &-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 44px;
            height: 44px;
            background-color: #fff;
            z-index: 10;
        }
        &-next {
            right: 0;
        }
        &-prev {
            left: 0;
        }
        .arrowP, .arrowN {
            width: 100%;
            height: 100%;
            position: relative;
            transition: all .3s;
            z-index: 9;
            &::after {
                content: '';
                width: 12px;
                height: 12px;
                background-color: rgba($color: #fff, $alpha: 0);
                position: absolute;
                z-index: 9;
                border-top: 2px solid black;
                border-right: 2px solid black;
                transition: all .3s;
            }
            &:hover::after {
                border-top: 2px solid white;
                border-right: 2px solid white;
                transition: all .3;
            }
            &:hover {
                background-color: #23324C;
                transition: all .3s;
                cursor: pointer;
            }
            &:active {
                background-color: #151E2E;
                transition: all .1s;
            }
        }
        &-button-disabled {
            opacity: 0.65;
            transition: all .6s;
        }
        .arrowP {
            &::after {
                top: 35%;
                left: 40%;
                transform:rotate(230deg);
            }
        }
        .arrowN {
            &::after {
                top: 35%;
                left: 25%;
                transform:rotate(40deg);
            }
        }
    }
}

//

@media (min-width: 1400px) {
    
}

@media (max-width: 1399px) {

    .benefits {
        .swiper {
            &__header {
                min-height: 44px;
            }
        }
    }
}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

    .benefits {
        padding-bottom: 136px;
        &__img-promo {
            height: 269px;
        }
        .swiper {
            margin-top: 46px;
            &-prev, &-next {
                width: 34px;
                height: 34px;
            }
            .arrowP {
                &::after {
                    top: 30%;
                }
            }
            .arrowN {
                &::after {
                    top: 30%;
                    left: 20%;
                }
            }
        }
    } 
}

@media (max-width: 768px) {
    
    .benefits {
        padding-bottom: 84px;
        &__header {
            h2 {
                margin: 0 0 50px 0;
            }
        }
        &__img-promo {
            height: 250px;
        }
       .swiper {
            width: 70%;
            &-slide {
                text-align: center;
            }
            &__header {
                min-height: 22px;
            }
       }
    }
}

@media (max-width: 575px) {

    .benefits {
        &__header {
            h2 {
                font-size: 28px;
                margin: 0 0 32px 0;
            }
        }
        &__img-promo {
            height: 169px;
        }
        .swiper {
            margin-top: 32px;
            &__header {
                font-size: 16px;
            }
        }
    }

}