section.blog
    .container
        .h-wrapper
            .blog__header
                h2 Блог
            .blog__describe
                p
                    | Изучите идеи и советы по строительству в нашем блоге. Разнообразные статьи  посвященные передовым методам проектирования, архитектуре и строительству.
        .blog__btn
            a.blog__link(href='#') Все статьи
        .blog__content

            .blog__item.blog__item_main
                .blog__item-img
                    img(src='https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aHVtYW58ZW58MHx8MHx8&w=1000&q=80' alt='article 1')
                .blog__item-info
                    .blog__item-header КАКОЙ ДОМ ЛУЧШЕ СТРОИТЬ?
                    .blog__item-description
                        | Для меня секрет успеха в своем деле это любовь и проактивность... Для меня секрет успеха в своем деле это любовь и проактивность...
                    button.btn.btn_simple.btn_blog Читать больше
            .blog__item
                .blog__item-img
                    img(src='https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aHVtYW58ZW58MHx8MHx8&w=1000&q=80' alt='article 2')
                .blog__item-info
                    .blog__item-header Выбор дома123qased?
                    .blog__item-description
                        | Для меня секрет успеха в своем деле это любовь и проактивность...
                    button.btn.btn_simple.btn_blog Читать больше
            .blog__item
                .blog__item-img
                    img(src='https://www.nasa.gov/sites/default/files/styles/full_width/public/thumbnails/image/main_image_star-forming_region_carina_nircam_final-1280.jpg' alt='article 3')
                .blog__item-info
                    .blog__item-header Как сделать ремонт фасада дома
                    .blog__item-description
                        | Для меня секрет успеха в своем деле это любовь и проактивность...
                    button.btn.btn_simple.btn_blog Читать больше