doctype html
html(lang="ru")
    head
        block metahead
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title Energy House
    body
        .layout
            .grateful(data-modal)
                .grateful__close(data-close)
                .grateful__wrapper 
                    .grateful__img
                        <svg width="31" height="27" viewBox="0 0 31 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26.7727 25.6258C26.7727 25.9903 26.6243 26.3398 26.36 26.5975C26.0958 26.8552 25.7374 27 25.3636 27H5.63636C5.26265 27 4.90424 26.8552 4.63999 26.5975C4.37573 26.3398 4.22727 25.9903 4.22727 25.6258V13.2584H0L14.5517 0.357773C14.8111 0.127571 15.1493 0 15.5 0C15.8507 0 16.1889 0.127571 16.4483 0.357773L31 13.2584H26.7727V25.6258ZM15.5 21.5034L20.2331 16.8876C20.5275 16.6004 20.7611 16.2596 20.9204 15.8845C21.0797 15.5093 21.1617 15.1073 21.1617 14.7013C21.1617 14.2952 21.0797 13.8932 20.9204 13.5181C20.7611 13.1429 20.5275 12.8021 20.2331 12.515C19.9387 12.2279 19.5892 12.0001 19.2046 11.8447C18.8199 11.6894 18.4076 11.6094 17.9913 11.6094C17.5749 11.6094 17.1626 11.6894 16.778 11.8447C16.3933 12.0001 16.0438 12.2279 15.7494 12.515L15.5 12.7582L15.2506 12.515C14.9562 12.2279 14.6067 12.0001 14.222 11.8447C13.8374 11.6894 13.4251 11.6094 13.0087 11.6094C12.5924 11.6094 12.1801 11.6894 11.7954 11.8447C11.4108 12.0001 11.0613 12.2279 10.7669 12.515C10.4725 12.8021 10.2389 13.1429 10.0796 13.5181C9.92026 13.8932 9.83825 14.2952 9.83825 14.7013C9.83825 15.1073 9.92026 15.5093 10.0796 15.8845C10.2389 16.2596 10.4725 16.6004 10.7669 16.8876L15.5 21.5034Z" fill="#9BB1D1"/>
                        </svg>
                    .grateful__main-message
                    .grateful__message
            .popup(data-modal)
                .popup__layout
                .popup__close(data-close)
                .popup__header Обратная связь
                .popup__describe Для подробной консультации заполните форму и наш специалист перезвонит Вам для уточнения деталей
                .popup__wrapper
                    form.popup__fields(action="POST") 
                        .popup__input 
                            input(type="text" name="name" required="")
                            label(for="name") Имя
                        .popup__input 
                            input(type="text" name="phone" required="")
                            label(for="phone") Телефон
                        .popup__input 
                            input(type="text" name="mail" required="")
                            label(for="mail") Почта
                        button.btn.btn_popup(type="submit") Консультация
                .popup__thanks
        block content    