.promo {
    width: 100%;
    background: url('./../../../assets/image/bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #E1EAF7;

    position: relative;
    &__header {
        margin: 0;
        padding-top: 123px;
        width: 520px;
        font-weight: 600;
        font-size: 48px;
        line-height: 62px;
        color: #0E1117;
    }
    &__describe {
        width: 330px;
        padding-top: 24px;
        font-size: 16px;
        line-height: 22px;
        color: #0E1117;
        margin-bottom: 87px;
    }
    &__btn {
        position: absolute;
        top: -50px;
        left: -50px;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__value {
        margin-top: 152px;
        width: 35%;
        height: 104px;
        background: #23324C;
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            text-align: center;
            min-width: 300px;
        }
        a {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.12px;
            text-transform: uppercase;
            color: #E1EAF7;
            border-bottom: 1px solid #E1EAF7;
            padding-bottom: 5px;
            text-decoration: none;
            &:hover {
                border-bottom: 2px solid #E1EAF7;
                font-weight: 600;
            }
        }
    }
    &__information {
        position: relative;
        width: 65%;
        height: 256px;
        display: flex;
        align-items: center;
        backdrop-filter: blur(45px);
        background: linear-gradient(180deg, rgba(100,100,100,0.045) 0%, rgba(35,50,76,0.913) 72%);
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33.33%;
        text-align: center;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #F6F8FB;

        &:nth-child(2), &:nth-child(3) {
            position: relative;
            &::after {
                content: '';
                width: 1px;
                height: 144px;
                background-color: #F6F8FB;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
            }
        }
    }   
    &__item-text {
        width: 140px;
        div {
            font-weight: 700;
            font-size: 34px;
            line-height: 30px;
            margin-bottom: 16px;
        }
    }
}

.about {
    background-color: #E1EAF7;
    padding-top: 160px;
    padding-bottom: 160px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__header {
        h2 {
            width: 130px;
            font-weight: 700;
            font-size: 34px;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: #0E1117;
            text-transform: uppercase;
            margin: 0;
        }
    }
    &__description {
        max-width: 400px;
        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #0E1117;
            margin: 0;
        }
    }
    &__photo {
        width: 500px;
        height: 268px;
        background: url('./../../../assets/image/house_about.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__link {
        color:#0E1117;
        text-decoration: none; 
        display: inline-block;
        border-bottom: 1px solid #0E1117;
		padding: 0;
		padding-bottom: 1px;
		margin-top: 24px;

        font-weight: 600;
		font-size: 16px;
        line-height: 22px;
    }
}

.benefits {
    background-color: #E1EAF7;
    padding-bottom: 160px;
    &__header {
        h2 {
            width: 130px;
            font-weight: 700;
            font-size: 34px;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: #0E1117;
            text-transform: uppercase;
            margin: 0 0 62px 0;
        }
    }
    &__img-promo {

        width: 100%;
        height: 422px;
        background: url('./../../../assets/image/house_benefits.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    // Swiper
    .container {
        position: relative;
    }
    .swiper {
        position: static;
        margin-top: 62px;
        width: 85%;
        &__header {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
        }
        &__description {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            margin-top: 24px;
        }
        &-prev, &-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 44px;
            height: 44px;
            background-color: #fff;
            z-index: 10;
        }
        &-next {
            right: 0;
        }
        &-prev {
            left: 0;
        }
        .arrowP, .arrowN {
            width: 100%;
            height: 100%;
            position: relative;
            transition: all .3s;
            &::after {
                content: '';
                width: 12px;
                height: 12px;
                background-color: rgba($color: #fff, $alpha: 0);
                position: absolute;
                border-top: 2px solid black;
                border-right: 2px solid black;
                transition: all .3s;
            }
            &:hover::after {
                border-top: 2px solid white;
                border-right: 2px solid white;
                transition: all .3;
            }
            &:hover {
                background-color: #23324C;
                transition: all .3s;
                cursor: pointer;
            }
            &:active {
                background-color: #151E2E;
                transition: all .1s;
            }
        }
        &-button-disabled {
            opacity: 0.65;
            transition: all .6s;
        }
        .arrowP {
            &::after {
                top: 35%;
                left: 40%;
                transform:rotate(230deg);
            }
        }
        .arrowN {
            &::after {
                top: 35%;
                left: 25%;
                transform:rotate(40deg);
            }
        }
    }
}

.steps {
    padding-bottom: 160px;
    background-color: #E1EAF7;
    .h-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__header {
        margin-right: 110px;
        min-width: 137px;
        h2 {
            margin: 0;
            font-weight: 700;
            font-size: 34px;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: #000000;
            text-transform: uppercase;
        }
    }
    &__describe {
        max-width: 422px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
    }
    &__wrapper {
        margin-top: 76px;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        position: relative;
    }
    &__item {
        width: 33.333%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        &:nth-child(4), &:nth-child(5), &:nth-child(6) {
            margin-top: 140px;
        } 
        &_decorize {
            margin: 0 auto;
            width: 70%;
            height: 132px;
            border-left: 2px solid #B6C9E3;
            border-right: 2px solid #B6C9E3;
            position: absolute;

            top: 59%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            
            &::before {
                content: '';
                width: 100%;
                height: 2px;
                background: #B6C9E3;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
            &::after {
                content: '';
                width: 2px;
                height: 132px;
                background: #B6C9E3;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    &__num {
        display: flex;
        justify-content: center;
        align-items: center;

        min-width: 50px;
        min-height: 50px;
        background-color: #fff;

        font-weight: 700;
        font-size: 28px;
        line-height: 22px;
        text-transform: uppercase;
        color: #0E1117;

        margin-right: 24px;
    }
    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #0E1117;
        position: relative;
    }
    &__days {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        position: relative;
        
    }
    &__black-rec {

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -20px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #000;
        transition: transform .4s;

        &::before {
            content: '';
            width: 8px;
            height: 8px;
            background-color: #fff;
            position: absolute;
            top: 25px;
            transform: rotate(45deg);
            left: -3px;
            opacity: 0;
            // transition: opacity .1s;
        }
    }
    &__main {
        height: 68px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &:hover {
            cursor: pointer;
        }
    }
    &__hover-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        visibility: hidden;
        opacity: 0;
        width: 100%;
        z-index: 2;
        margin-top: 20px;
        margin-left: -74px;
        background-color: #fff;

        padding: 22px 22px;

        transition: opacity .3s;
        box-sizing: border-box;
        position: relative;
        
        &-inner {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    &__hover-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        position: relative;

        margin-left: 16px;
        width: 100%;
        
        &_withoutBefore {
            &::before {
               content: none;
            }
        }
        &_3,&_4,&_5,&_6  {
            margin-bottom: 10px;
        }
    }
    &__hover-img {
        max-width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
        }

    }


    .active {
        .steps__hover-item {
            transition: opacity .5s;
            visibility: visible;
            opacity: 1;
        }
        .steps__black-rec :not(:before) {
            transition: transform .4s;
            transform: rotateZ(180deg) translateY(2px);
        }
        .steps__black-rec {
            &::before {
                opacity: 1;
                transition: opacity .4s;
            }
        }
    }
    .non-active {
        opacity: 0;
        transition: opacity .3s;
        visibility: hidden;
    }

    .mt_20 {
        margin-top: 20px;
    }
}

.gallery {
    background-color: #E1EAF7;
    padding-bottom: 160px;

    &__header {
        h2 {
            margin: 0;
            font-weight: 700;
            font-size: 34px;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: #0E1117;
            text-transform: uppercase;
        }
    }
    &__container {
        margin-top: 24px;

        display: grid;
        grid-template-columns: repeat(4, minmax(180px,302px));
        grid-template-rows: auto;
        grid-auto-rows: auto;
        grid-gap: 24px;
        justify-content: center;
    }
    &__zoom {
        width: 38px;
        height: 38px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 2;
        opacity: 0;
        transition: fill .3s;
        &:hover {
            cursor: pointer;
            .zoom {
                fill: #9BB1D1;
                transition: fill .3s;
            }
        }
    }
    &__item {
        position: relative;
        &::before {
            content: '';
            width: 100%;
            height: 99%;
            background: rgba(24, 24, 24, 0.44);
            backdrop-filter: blur(25px);
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 1;
            transition: opacity .3s;
        }
        img {
            width: 100%;
        }
        &:hover {
            &::before {
                opacity: 1;
                cursor: pointer;
                transition: opacity .3s;
            }
            .gallery__zoom {
                opacity: 1;
            }
        }
       
        &_5 {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
    &__btn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        // padding-right: 30px;
    }
    &__link {
        color:#0E1117;
        text-decoration: none; 
        display: inline-block;
        border-bottom: 1px solid #0E1117;
		padding: 0;
		padding-bottom: 1px;
		margin-top: 14px;

		font-size: 16px;
        line-height: 22px;
    }
}

.calc {
    padding-bottom: 160px;
    background-color: #E1EAF7;

    .h-wrapper {
        display: flex;
        gap: 120px;
    }
    &__header {
        h2 {
            font-weight: 700;
            font-size: 34px;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: #0E1117;
            text-transform: uppercase;
            margin: 0;
        }
    }
    &__subheader {
        max-width: 595px;
        h3 {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
            color: #0E1117;
            margin: 0;
        }
        p {
            margin: 0;
            margin-top: 19px;
        }
    }
    &__main {
        max-width: 1280px;
        height: 800px;
        margin-top: 84px;
        position: relative;

        display: flex;
    }

    // left side //

    &__left {
        box-sizing: border-box;
        padding-left: 69px;
        padding-right: 59px;
        background-color: #fff;
        width: 435px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
    &__logo {
        margin-top: 10px;
        width: 165px;
        height: 44px;
        img {
            width: 100%;
        }
    }
    &__steps {
        margin-top: 50px;
    }
    &__triangle {
        width: 0;
        height: 0;
        border-bottom: 350px solid #F6F8FB;; 
        border-right: 435px solid transparent;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    &__img {
        width: 308px;
        img {
            width: 100%;
            position: relative;
            z-index: 2;
        }
    }
    &__steps {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 24px;

        margin-top: 24px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #ACB0B1;
        &_current {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #0E1117;

            .calc__check {
                background: #23324C;
                .check {
                    fill: #fff;
                }
            }
        }
        &_done {
            .calc__check {
                background: rgba(35, 50, 76, 0.7);
                .check {
                    fill: #fff;
                }
            }
        }
    }
    &__check {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 32px;
        height: 32px;
        background: #F7F7F7;

        .check {
            fill: #ACB0B1;
        }
    }

    // right side //

    &__right {
        width: 100%;
        background: #F6F8FB;
        padding: 80px 109px 80px 108px;
    }
    &__header {
        h3 {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
            color: #000000;
            margin: 0;
        }
    }
    &__describe {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.12px;
        color: #828589;
        margin-top: 24px;
    }
    &__inputs-area {
        margin-top: 92px;
    }
    &__input {
        position: relative;
        input {
            outline: none;
            box-sizing:border-box;
            width: 100%;
            height: 48px;
            background-color: #fff;
            padding: 0 18px 0 18px;
            border: 1px solid #97A4BB;
        }
        label {
            position: absolute;
            top: -25px;
            left: 0;
        }
    }
    &__select {
        box-sizing:border-box;
        width: 100%;
        height: 48px;
        background-color: #fff;
        padding: 0 18px 0 18px;
        border: 1px solid #97A4BB;

        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-top: 54px;
        &:hover {
            cursor: pointer;
            .calc__sub {
                display: block;
                visibility: visible;
                opacity: 1;
                transition: opacity .3s;
                
            }
            .calc__arrow {
                transition: transform .3s;
                transform: rotate(180deg);
            }
        }
    }
    &__label {
        position: absolute;
        top: -25px;
        left: 0;
    }
    &__arrow {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid #000;
        transition: transform .3s;
    }
    &__sub {
        width: 100%;
        position: absolute;
        bottom: -145px;
        left: 0;
        z-index: 3;
        // display: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s;
    }
    &__option {
        box-sizing: border-box;
        width: 100%;
        height: 48px;
        background-color: #fff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 18px 0 18px;
        position: relative;

        &:hover {
            background: #E1EAF7;
            &::after {
                content: '';
                width: 2px;
                height: 100%;
                background-color: rgba(35, 50, 77, 1);
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        &:active {
            background: #F6F8FB;
        }
    }
    &__progress {
        width: 100%;
        height: 10px;
        background: #97A4BB;
        margin-top: 60px;
    }
    &__btn-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }
}

.contacts {
    background-color: #E1EAF7;
    .h-wrapper {
        display: flex;
        align-items: flex-start;
        gap: 119px;
    }
    &__header {
        text-transform: uppercase;
        h2 {
            font-weight: 700;
            font-size: 34px;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: #000000;
            margin: 0;
        }
    }
    &__describe {
        max-width: 413px;
        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
            margin: 0;
        }
    }
    .frame {
        margin-top: 75px;
        position: relative;
    }
    &__info {
        width: 444px;
        height: 333px;
        padding-left: 166px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 14px;
    }
    &__img {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
        }
    }
    &__adress {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.5px;
    }
}

// RESPONSIVE SIZES

@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}

@media (max-width: 1399px) {
    .container {
        width: 1140px;
    }

    .promo {
        background-position: bottom 0px right -110px;
    }

    .benefits {
        .swiper {
            &__header {
                min-height: 44px;
            }
        }
    }

    .steps {
        &__item {
            &_decorize {
                top: 62%;
            }
        }
    }
}

@media (max-width: 1199px) {
    .container {
        width: 960px;
    }

    .promo {
        background-position: bottom 0px right -240px;
    }

    .about {
        &__header {
            margin-right: 30px;
        }
        &__description {
            margin-right: 30px;
        }
    }
}

@media (max-width: 991px) {
    .container {
        width: 720px;
    }
    .promo {
        background-position: bottom 0px right -370px;

        &__header {
            padding-top: 55px;
            font-size: 38px;
            line-height: 52px;
        }
        &__describe {
            margin-bottom: 55px;
        }
        &__btn {
            .btn_smooth {
                display: none;
            }
        }
        .btn_opened {
            display: block;
        }
        &__value {
            width: 43%;
        }
        &__information {
            width: 57%;
            height: 238px;
        }
        &__item-text {
            div {
                font-size: 28px;
            }
        }
    }

    .about {
        padding-top: 136px;
        padding-bottom: 136px;
        &__wrapper {
            flex-wrap: wrap;
        }
        &__description {
            margin-right: 0;
            max-width: 530px;
        }
        &__photo {
            margin-top: 30px;
            width: 100%;
            height: 300px;
        }
    }

    .benefits {
        padding-bottom: 136px;
        &__img-promo {
            height: 269px;
        }
        .swiper {
            margin-top: 46px;
            &-prev, &-next {
                width: 34px;
                height: 34px;
            }
            .arrowP {
                &::after {
                    top: 30%;
                }
            }
            .arrowN {
                &::after {
                    top: 30%;
                    left: 20%;
                }
            }
        }
    }

    .steps {
        padding-bottom: 136px;
        &__item {
            width: 50%;
            &_decorize {
                opacity: 0;
                display: none;
                visibility: hidden;
            }
            &:nth-child(4), &:nth-child(5), &:nth-child(6) {
                margin-top: 0px;
            } 
        }
    }

    .gallery {
        padding-bottom: 136px;
        &__container {
            grid-template-columns: repeat(3, minmax(200px,302px));
        }
        &__item {
            &::before {
                content: none;
            }
            .gallery__zoom {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }
    
    .promo {
        background: url('./../../../assets/image/bg.png') rgba(36, 36, 36, 0.6);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: multiply;
        &__header {
            text-align: center;
            color: #F6F8FB;
        }
        &__describe {
            text-align: center;
            width: 100%;
            color: #F6F8FB;
        }
        .btn_opened {
            margin: 0 auto;
        }
        &__value {
            width: 100%;
            margin-top: 121px;
            height: 135px;
        }
        &__information {
            display: none;
        }
    }

    .about {
        padding-top: 84px;
        padding-bottom: 84px;
        &__description {
            margin-top: 50px;
        }
        &__photo {
            height: 280px;
        }
    }

    .steps {
        padding-bottom: 84px;
        .h-wrapper {
            flex-direction: column;
        }
        &__describe {
            max-width: 72%;
            margin-top: 20px;
        }
        &__wrapper {
            justify-content: center;
            margin-top: 50px;
        }
        &__item {
            width: 100%;
        }
        &__hover-item {
            width: calc(100% + 74px);
            margin-left: -74px;
        }
    }

    .benefits {
        padding-bottom: 84px;
        &__header {
            h2 {
                margin: 0 0 50px 0;
            }
        }
        &__img-promo {
            height: 250px;
        }
       .swiper {
            width: 70%;
            &-slide {
                text-align: center;
            }
            &__header {
                min-height: 22px;
            }
       }
    }

    .gallery {
        padding-bottom: 84px;
        &__container {
            grid-template-columns: repeat(2, minmax(200px,302px));
        }
    }
    
}

@media (max-width: 575px) {
    .container {
        width: 95%;
    }

    .promo {
        background: url('./../../../assets/image/bg.png') rgba(36, 36, 36, 0.6);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: multiply;
        &__header {
            padding-top: 107px;
            font-size: 30px;
            line-height: 45px;
            width: 100%;
            color: #F6F8FB;
        }
        &__describe {
            text-align: center;
            width: 100%;
            color: #F6F8FB;
            margin-bottom: 47px;
        }
        .btn_opened {
            width: 100%;
        }
        &__value {
            margin: 0;
            padding-top: 50px;
            padding-bottom: 75px;
            background: none;
            height: 50px;
        }
    }

    .about {
        padding-top: 84px;
        padding-bottom: 84px;
        &__description {
            margin-top: 0;
            h3 {
                // margin-top: 32px
                margin: 20px 0 32px 0;
            }
        }
        &__photo {
            height: 175px;
        }
    }

    .steps {
        &__describe {
            max-width: 100%;
        }
        &__num {
            min-width: 40px;
            min-height: 40px;
        }
        &__title {
            font-size: 16px;
        }
        &__hover-item {
            width: calc(100% + 64px);
            margin-left: -64px;
        }
    }

    .benefits {
        &__header {
            h2 {
                font-size: 28px;
                margin: 0 0 32px 0;
            }
        }
        &__img-promo {
            height: 169px;
        }
        .swiper {
            margin-top: 32px;
            &__header {
                font-size: 16px;
            }
        }
    }

    .gallery {
        &__container {
        grid-template-columns: repeat(1, minmax(200px,302px));
        grid-template-rows: 300px;
        grid-auto-rows: 300px;
        }
        &__item {
            overflow: hidden;
            img {
                object-fit: none;
            }
        }
        &__btn {
            justify-content: flex-start;
        }
    }

}
