.promo-gallery {
    background-color: #E1EAF7;
    padding-bottom: 160px;

    &__header {
        h2 {
            margin: 0;
            font-weight: 700;
            font-size: 22px;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: #0E1117;
            text-transform: uppercase;
        }
    }
    &__container {
        margin-top: 24px;

        display: grid;
        grid-template-columns: repeat(4, minmax(180px,302px));
        grid-template-rows: auto;
        grid-auto-rows: auto;
        grid-gap: 24px;
        justify-content: center;
    }
    &__zoom {
        width: 38px;
        height: 38px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 2;
        opacity: 0;
        transition: fill .3s;
        &:hover {
            cursor: pointer;
            .zoom {
                fill: #9BB1D1;
                transition: fill .3s;
            }
        }
    }
    &__item {
        position: relative;
        &::before {
            content: '';
            width: 100%;
            height: 99%;
            background: rgba(24, 24, 24, 0.44);
            backdrop-filter: blur(25px);
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 1;
            transition: opacity .3s;
        }
        img {
            width: 100%;
        }
        &:hover {
            &::before {
                opacity: 1;
                cursor: pointer;
                transition: opacity .3s;
            }
            .promo-gallery__zoom {
                opacity: 1;
            }
        }
       
        &_5 {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
    &__btn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        // padding-right: 30px;
    }
    &__link {
        color:#0E1117;
        text-decoration: none; 
        display: inline-block;
        border-bottom: 1px solid #0E1117;
		padding: 0;
		padding-bottom: 1px;
		margin-top: 14px;

		font-size: 16px;
        line-height: 22px;
    }
}

//
@media (min-width: 1400px) {
    
}

@media (max-width: 1399px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

    .promo-gallery {
        padding-bottom: 136px;
        &__container {
            grid-template-columns: repeat(3, minmax(200px,302px));
        }
        &__item {
            &::before {
                content: none;
            }
            .promo-gallery__zoom {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {

    .promo-gallery {
        padding-bottom: 84px;
        &__container {
            grid-template-columns: repeat(2, minmax(200px,302px));
        }
    }

}

@media (max-width: 575px) {

    .promo-gallery {
        &__container {
        grid-template-columns: repeat(1, minmax(200px,302px));
        grid-template-rows: 300px;
        grid-auto-rows: 300px;
        }
        &__item {
            overflow: hidden;
            img {
                object-fit: none;
            }
        }
        &__btn {
            justify-content: flex-start;
        }
    }
}