section.promo-blog
    .container
        .h-wrapper
            .promo-blog__header
                h2 Блог
            .promo-blog__describe
                p
                    | Изучите идеи и советы по строительству в нашем блоге. Разнообразные статьи  посвященные передовым методам проектирования, архитектуре и строительству.
        .promo-blog__btn
            a.promo-blog__link(href='#') Все статьи
        .promo-blog__content

            .promo-blog__item.promo-blog__item_main
                .promo-blog__item-img
                    img(src='https://cdn.riastatic.com/photosnewr/ria/dom_news_logo/tipy-pochv-v-stroitelstve-doma-kakoj-fundament-vybrat__211392-1680x0.jpg' alt='article 1')
                .promo-blog__item-info
                    .promo-blog__item-header Как выбрать тип конструкции дома?
                    .promo-blog__item-description
                        | Для меня секрет успеха в своем деле это любовь и проактивность... Для меня секрет успеха в своем деле это любовь и проактивность...
                    button.btn.btn_simple.btn_blog Читать больше
            .promo-blog__item
                .promo-blog__item-img
                    img(src='https://na-dache.pro/uploads/posts/2021-11/1635845753_1-na-dache-pro-p-planirovka-doma-kartinki-foto-1.jpg' alt='article 2')
                .promo-blog__item-info
                    .promo-blog__item-header Планировка пространства: самое необходимое
                    .promo-blog__item-description
                        | Для меня секрет успеха в своем деле это любовь и проактивность...
                    button.btn.btn_simple.btn_blog Читать больше
            .promo-blog__item
                .promo-blog__item-img
                    img(src='https://cdn.vseinstrumenti.ru/uploads/images/Heating-mat-anbang.jpg' alt='article 3')
                .promo-blog__item-info
                    .promo-blog__item-header Нужен ли вам "теплый пол"?
                    .promo-blog__item-description
                        | Для меня секрет успеха в своем деле это любовь и проактивность...
                    button.btn.btn_simple.btn_blog Читать больше