@import './assets/sass/libs/normalize.scss';
@import './assets/sass/fonts.scss';

@import './assets/sass/btns';

@import './assets/sass/header';
@import './assets/sass/promo';
@import './assets/sass/about';
@import './assets/sass/benefits';
@import './assets/sass/steps';
@import './assets/sass/gallery';
@import './assets/sass/calc';
@import './assets/sass/contacts';
@import './assets/sass/footer';



@import './assets/sass/base/media';
html {
	font-family: 'Montserrat', sans-serif;
    // box-sizing:border-box;
}

.container {
    margin: 0 auto;
    position: relative;
}

.show-flex {
    display: flex;
    transition: all .4s;
}

.show-block {
    display: block;
}

.hide {
    display: none;
}
