extends ./../base

block metahead
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title EnergyHouse - Услуги
block content
    include ./../../components/nav-bar/_nav-bar
    main
        section.wooden-house
            .wooden__bg-image
                img(src=require("./../../../../assets/image/services/header.png"), alt="photo of houses")
            .container

        //- include ./../../components/promo-gallery/_promo-gallery
        //- include ./../../components/promo-blog/_promo-blog
        include ./../../components/footer/_footer