.about {
    background-color: #E1EAF7;
    padding-top: 160px;
    padding-bottom: 160px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__header {
        h2 {
            width: 130px;
            font-weight: 700;
            font-size: 34px;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: #0E1117;
            text-transform: uppercase;
            margin: 0;
        }
    }
    &__description {
        max-width: 400px;
        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #0E1117;
            margin: 0;
        }
    }
    &__photo {
        width: 500px;
        height: 460px;
        background: url('./assets/image/house_about.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__link {
        color:#0E1117;
        text-decoration: none; 
        display: inline-block;
        border-bottom: 1px solid #0E1117;
		padding: 0;
		padding-bottom: 1px;
		margin-top: 24px;

        font-weight: 600;
		font-size: 16px;
        line-height: 22px;
    }
}