.calc {
    padding-bottom: 160px;
    background-color: #E1EAF7;

    .h-wrapper {
        display: flex;
        gap: 120px;
    }
    &__header {
        h2 {
            font-weight: 700;
            font-size: 34px;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: #0E1117;
            text-transform: uppercase;
            margin: 0;
        }
    }
    &__subheader {
        max-width: 595px;
        h3 {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
            color: #0E1117;
            margin: 0;
        }
        p {
            margin: 0;
            margin-top: 19px;
        }
    }
    &__main {
        max-width: 1280px;
        height: 800px;
        margin-top: 84px;
        position: relative;

        display: flex;
    }

    // left side //

    &__left {
        box-sizing: border-box;
        padding-left: 69px;
        padding-right: 59px;
        background-color: #fff;
        width: 435px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
    &__logo {
        margin-top: 10px;
        width: 165px;
        height: 44px;
        img {
            width: 100%;
        }
    }
    &__steps {
        margin-top: 50px;
    }
    &__triangle {
        width: 0;
        height: 0;
        border-bottom: 350px solid #F6F8FB;; 
        border-right: 435px solid transparent;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    &__img {
        width: 308px;
        img {
            width: 100%;
            position: relative;
            z-index: 2;
        }
    }
    &__steps {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 24px;

        margin-top: 24px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #ACB0B1;
        &_current {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #0E1117;

            .calc__check {
                background: #23324C;
                .check {
                    fill: #fff;
                }
            }
        }
        &_done {
            .calc__check {
                background: rgba(35, 50, 76, 0.7);
                .check {
                    fill: #fff;
                }
            }
        }
    }
    &__check {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 32px;
        height: 32px;
        background: #F7F7F7;

        .check {
            fill: #ACB0B1;
        }
    }

    // right side //

    &__right {
        width: 100%;
        background: #F6F8FB;
        padding: 80px 109px 80px 108px;
    }
    &__header {
        h3 {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
            color: #000000;
            margin: 0;
        }
    }
    &__describe {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.12px;
        color: #828589;
        margin-top: 24px;
    }
    &__inputs-area {
        margin-top: 92px;
    }
    &__input {
        position: relative;
        input {
            outline: none;
            box-sizing:border-box;
            width: 100%;
            height: 48px;
            background-color: #fff;
            padding: 0 18px 0 18px;
            border: 1px solid #97A4BB;
        }
        label {
            position: absolute;
            top: -25px;
            left: 0;
        }
    }
    &__select {
        box-sizing:border-box;
        width: 100%;
        height: 48px;
        background-color: #fff;
        padding: 0 18px 0 18px;
        border: 1px solid #97A4BB;

        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-top: 54px;
        &:hover {
            cursor: pointer;
            // .calc__sub {
            //     display: block;
            //     visibility: visible;
            //     opacity: 1;
            //     transition: opacity .3s;
                
            // }
            .calc__arrow {
                // transition: transform .3s;
                // transform: rotate(180deg);
            }
        }
    }
    &__label {
        position: absolute;
        top: -25px;
        left: 0;
    }
    &__arrow {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid #000;
        transition: transform .3s;
    }
    &__sub {
        width: 100%;
        position: absolute;
        bottom: -145px;
        left: 0;
        z-index: 3;
        // display: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s;

        
    }
    &__option {
        box-sizing: border-box;
        width: 100%;
        height: 48px;
        background-color: #fff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 18px 0 18px;
        position: relative;

        &:hover {
            background: #E1EAF7;
            &::after {
                content: '';
                width: 2px;
                height: 100%;
                background-color: rgba(35, 50, 77, 1);
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        &:active {
            background: #F6F8FB;
        }
    }
    &__progress {
        width: 100%;
        height: 10px;
        background: #97A4BB;
        margin-top: 60px;
    }
    &__btn-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }
}