.gallery {
    background-color: #E1EAF7;
    padding-bottom: 160px;

    .a-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .h-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 51px;
    }

    &__header {
        h2 {
            margin: 0;
            font-weight: 700;
            font-size: 34px;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: #0E1117;
            text-transform: uppercase;
        }
    }
    &__describe {
        h3 {
            margin: 0;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #0E1117;
            text-transform: uppercase;

        }
    }
    &__link-more {
      
        font-size: 16px;
        line-height: 22px;
        color: #0E1117;
        text-decoration: none;
        border-bottom: 1px solid #0E1117;
        padding-bottom: 3px;
        
    }
    &__container {
        margin-top: 57px;

        display: grid;
        grid-template-columns: repeat(auto-fill, 302px);
        grid-template-rows: auto;
        grid-auto-rows: auto;
        grid-gap: 24px;
        justify-content: center;
    }
    &__zoom {
        width: 38px;
        height: 38px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 2;
        opacity: 0;
        transition: fill .3s;
        &:hover {
            cursor: pointer;
            .zoom {
                fill: #9BB1D1;
                transition: fill .3s;
            }
        }
    }
    &__item {
        position: relative;
        &::before {
            content: '';
            width: 100%;
            height: 99%;
            background: rgba(24, 24, 24, 0.44);
            backdrop-filter: blur(25px);
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 1;
            transition: opacity .3s;
        }
        &:hover {
            &::before {
                opacity: 1;
                cursor: pointer;
                transition: opacity .3s;
            }
            .gallery__zoom {
                opacity: 1;
            }
        }
       
        &_5 {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
}