.promo {
    width: 100%;
    background: url('./assets/image/bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #E1EAF7;

    position: relative;
    &__header {
        margin: 0;
        padding-top: 123px;
        width: 520px;
        font-weight: 600;
        font-size: 48px;
        line-height: 62px;
        color: #0E1117;
    }
    &__describe {
        width: 330px;
        padding-top: 24px;
        font-size: 16px;
        line-height: 22px;
        color: #0E1117;
        margin-bottom: 87px;
    }
    &__btn {
        position: absolute;
        top: -50px;
        left: -50px;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__value {
        margin-top: 152px;
        width: 35%;
        height: 104px;
        background: #23324C;
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            text-align: center;
            min-width: 300px;
        }
        a {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.12px;
            text-transform: uppercase;
            color: #E1EAF7;
            border-bottom: 1px solid #E1EAF7;
            padding-bottom: 5px;
            text-decoration: none;
            &:hover {
                border-bottom: 2px solid #E1EAF7;
                font-weight: 600;
            }
        }
    }
    &__information {
        position: relative;
        width: 65%;
        height: 256px;
        display: flex;
        align-items: center;
        backdrop-filter: blur(45px);
        background: linear-gradient(180deg, rgba(100,100,100,0.045) 0%, rgba(35,50,76,0.913) 72%);
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33.33%;
        text-align: center;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #F6F8FB;

        &:nth-child(2), &:nth-child(3) {
            position: relative;
            &::after {
                content: '';
                width: 1px;
                height: 144px;
                background-color: #F6F8FB;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
            }
        }
    }   
    &__item-text {
        width: 140px;
        div {
            font-weight: 700;
            font-size: 34px;
            line-height: 30px;
            margin-bottom: 16px;
        }
    }
}