.steps {
    padding-bottom: 160px;
    background-color: #E1EAF7;
    .h-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 110px;
    }
    &__header {
        min-width: 137px;
        h2 {
            margin: 0;
            font-weight: 700;
            font-size: 34px;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: #000000;
            text-transform: uppercase;
        }
    }
    &__describe {
        max-width: 422px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
    }
    &__wrapper {
        // height: 430px;
        margin-top: 76px;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        position: relative;
        &::before {
            content: '';
            width: 75%;
            height: 1px;
            background-color: rgba(182, 201, 227, 1);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }
    &__item {
        // width: 33.333%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 18px;
        position: relative;

        &::before {
            content: '';
                width: 1px;
                height: 66px;
                background-color: rgba(182, 201, 227, 1);
                position: absolute;
        }


        &:nth-child(1) {
            width: 419px;
            &::before {
                bottom: -89px;
                left: 165px;
            }
        }
        &:nth-child(2) {
            width: 493px;
            &::before {
                bottom: -89px;
                left: 246px;
            }
        }
        &:nth-child(3) {
            &::before {
                bottom: -89px;
                left: 242px;
            }
        }
        &:nth-child(4) {
            width: 419px;
            padding-top: 180px;
            &::before {
                top: 91px;
                left: 165px;
            }
        }
        &:nth-child(5) {
            width: 493px;
            padding-top: 180px;
            &::before {
                top: 91px;
                left: 246px;
            }
        }
        &:nth-child(6) {
            padding-top: 180px;
            &::before {
                top: 91px;
                left: 242px;
            }
        }
    }
    &__num {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 50px;
        min-height: 50px;
        background-color: #fff;

        font-weight: 700;
        font-size: 28px;
        line-height: 22px;
        text-transform: uppercase;
        color: #0E1117;
    }
    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #0E1117;
        position: relative;
    }
    &__days {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        position: relative;
        
    }
    &__black-rec {

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -20px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #000;
        transition: transform .4s;
    }
    &__main {
        height: 46px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // position: relative;

        &:hover {
            cursor: pointer;
        }
    }
    &__hover-item {
        // display: none;
        display: flex;
        visibility: hidden;
        opacity: 0;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #fff;

        position: absolute;
        left: 68px;
        z-index: 2;

        padding: 22px 23px;
        gap: 16px;

        // transition: all .4s;
        box-sizing: border-box;
        &_1 {
            width: 278px;
            bottom: -127px;
        }
        &_2 {
            width: 343px;
            bottom: -127px;
        }
        &_3 {
            width: 293px;
            flex-direction: column;
            div {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 16px;
            }
            bottom: -351px;
        }
        &_4 {
            width: 294px;
            flex-direction: column;
            div {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 16px;
            }
            bottom: -191px;
        }
        &_5 {
            width: 344px;
            flex-direction: column;
            div {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 16px;
            }
            bottom: -454px;
        }
        &_6 {
            flex-direction: column;
            div {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 16px;
            }
            bottom: -276px;
        }
    }

    &__hover-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        position: relative;

        width: 100%;
        &::before
        {
            content: '';
            width: 8px;
            height: 8px;
            background-color: #fff;
            position: absolute;
            top: -26px;
            transform: rotate(45deg);
            left: 0px;
        }
        &_1 {
            // width: 216px;
            
            // &::before {
            //     left: 0px;
            // }
        }
        &_2 {
            // &::before {
            //     left: -2px;
            // }
            // width: 281px;
        }
        &_3 {
            // width: 234px;
            // &::before {
            //     left: -7px;
            // }
            &_withoutBefore {
                &::before {
                   content: none;
                }
            }
        }
        &_4 {
            // width: 272px;
            &::before {
                left: 28px;
            }
            &_withoutBefore {
                &::before {
                   content: none;
                }
            }
        }
        &_5 {
            // width: 280px;
            &::before {
                left: 39px;
            }
            &_withoutBefore {
                &::before {
                   content: none;
                }
            }
        }
        &_6 {
            // width: 234px;
            &::before {
                left: 20px;
            }
            &_withoutBefore {
                &::before {
                   content: none;
                }
            }
        }
    }
    &__hover-img {
        max-width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
        }

    }


    .active {
        .steps__hover-item {
            // display: flex;
            visibility: visible;
            opacity: 1;
            transition: all .4s;
        }
        .steps__black-rec {
            transition: transform .4s;
            transform: rotateZ(180deg) translateY(2px);
            transition: all .4s;
        }
    }
}